@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
    background-color: #04706b;
    font-family: Arial, Helvetica, sans-serif;    
}
nav.navbar{
    background-color:#004643;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
nav.navbar a, nav.navbar ul{
    color:#E6D06A;
}
.header-uno{
    background-image: url(../fotos/banda.jpg);
    display:flex;
    align-items: center;
    justify-content: center;
}
.h2h{
    position: relative;
    font-size: 6vw;
    color: #252839;
    -webkit-text-stroke: .2vw #383d52;
    text-transform: uppercase;
}
/*====== Animacion ======*/
.h2h::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate {
    0%,10%,100%{
        width: 0%;
    }
    70%,90%{
        width: 100%;
    }
}
.header-dos{
    background-image: url(../fotos/cantante2.jpg);
}
.contenedorHeader {
    height: 500px;
    background-color: #04706b;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    font-size:large;
    font-family: 'Roboto', sans-serif;
}
.contenedorHeader::after{
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.815) 0%, rgba(0, 0, 0, 0.39) 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.tituloPrincipal {
    color: #FAF4D3;
    text-align: center;
    position: absolute;
    top: 8%;
    left: 10%;
    right: 10%;
    z-index: 2;
}
.percent-80{
    max-width: 40rem;
}
.center{
    margin: 0px auto;
}
article h2 {
    text-align:center;
    margin: 2em auto;
}
h2, h3 {
    color: #D1AC00;
}
a {
    color: #E6D06A;
}
section article p {
    color:#000000;
    font-size: 1.2rem;
}
hr {
    border: 3px #080808 solid;
}
.video-inicio iframe{
    border-radius: 2rem;
    margin: 1rem auto; 
}
/*///// FOOTER ////////*/
footer{
    display: flex;
    justify-content:space-around;
    text-transform: uppercase;
    padding-bottom:2em ;
    background-color: #292828;
}
footer h4{
    margin: 1em auto;
    color: aliceblue;
}
footer ul, footer a{
    text-decoration: none;
    list-style:none;
}
footer a:hover{
    color: aliceblue;
}
#footer i{
    margin-right: 1rem;
    font-style: normal;
    font-size: 1.5em;
    /* background-color: aliceblue; */
}
#footer ul li i.fa-facebook-square{
    color: blue;
    height: 100%;
}
#footer ul li i.fa-youtube{
    color: red;
    height: 100%;
}
.social-media i.fa-whatsapp-square{
    color: #25d366;
    height: 100%;
}
.social-media i.fa-instagram-square{
    color: #bc1888 ;
}
.social-media i.fa-spotify{
    color: white ;
}
.social-media p{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.disco {
    color: #FAF4D3;
    font-style: italic;
}
table {
    border:#080808 solid 3px;
    background-color: #E6D06A;
}
.titulo-disco {
    color:#f2cf07;
    font-variant:small-caps;
}
tr th {
    background-color: #D1AC00;
    color:#080808;
    border:#080808 solid 3px;
}
tr td {
    border:#080808 solid 3px;
    background-color:#00968e;  
}
fieldset, legend {
    background-color:#E6D06A;
    border:#080808 solid 3px;
}
legend {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

@media screen and(max-width:748px) {
    .percent-80{
        padding: 0 5px;
    }
}